.App {
  text-align: center;
  background-color: #282c34;
  color: white;
  min-height: 100vh;
}

.Input-element {
  display: inline-block;
  margin: 5px 5px;
  height: 35px;
  border-radius: 5px;
  border-style: solid;
  border-width: 2px;
  border-color: #ddd;
  font-size: 15px;
}

.Input-element.error {
  box-shadow: 0 0 5px 2px #f55;
}

.Payment-card {
  width: 50vw;
  margin: 5px auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border: 1px solid aliceblue;
  border-radius: 5px;
}
.Payment-card-right {
  font-size: 20px;
}
.Payment-card-right::before {
  content: "¥ ";
}
.Payment-card div {
  text-align: left;
}
.Payment-card-date::after{
  content: ": ";
}
.Payment-card-props::after{
  content: " / ";
}
.Payment-card-props:last-child::after{
  content: "";
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 10px 50px;
}

.Header-link {
  margin: 0px 10px;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
